# values-pcai.yaml
# Sample configuration for HPE Private Cloud AI
# =============================================

# Image configuration
image:
  repository: aless1969/rundmc-whisper-nim-diarization-app
  tag: "1.0.0"
  pullPolicy: Always

# Application configuration
app:
  port: 8010   # for uvicorn
  env:
    # Example for local whisper model:
    #ENDPOINT: "http://whisper-large-v3.namespace.svc.cluster.local:8010"
    
    # Model name
    NIM_MODEL_NAME: "whisper-large-v3"

# Resource limits for PCAI
resources:
  requests:
    cpu: "200m"
    memory: "512Mi"
  limits:
    cpu: "2000m"
    memory: "2Gi"

# Service configuration
service:
  type: ClusterIP
  port: 7860

# EZUA / Istio configuration for PCAI
ezua:
  enabled: true
  virtualService:
    # Update with your domain
    endpoint: "rundmc-whisper-nim-diarization-app.hpepcai.demo.local"
    istioGateway: "istio-system/ezaf-gateway"

# Disable standard ingress (using Istio instead)
ingress:
  enabled: false
